.container {
    margin-top: 5vh;
    display: flex;
  }
  p {
    font-family: Lato;
  }
  .container {
    width: 45%;
    height: 50vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid blueviolet;
    border-radius: 10px;
  }
  .input-box {
    width: 90%;
    height: 5vh;
    border-radius: 5px;
    outline: none;
    border: 1px solid blueviolet;
  }
  .radio-group {
    margin-top: 2vh;
  }
  label {
    margin-left: 3%;
  }
  .submit {
    margin: 5% 40%;
    width: 20%;
    font-size: 18px;
    border: 1px solid blueviolet;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
  }
  .result {
    margin-left: 37%;
  }
  