<nav id="nav-bar" class="navbar navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand">Two Way Binding</a>
  </div>
</nav>

<div id="input-container" class="container">
  <h5>Centigrade / Fahrenheit Converter</h5>
  <input class="input-box" id="" type="number" [(ngModel)]="input_value" />
  <div class="radio-group">
    <input class="radio" id="radio" type="radio" name="convert" value="Centigrade" [(ngModel)]="radio_value" />
    <label>Convert to Centigrade</label>
  </div>
  <div class="radio-group">
    <input class="radio" id="radio" type="radio" name="convert" value="Fahrenheit" [(ngModel)]="radio_value" />
    <label>Covert to Fahrenheit</label>
  </div>
  <button class="submit" (click)="getResult()">Submit</button>
  <h5 class="result">{{result}}</h5>
</div>
